@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "telescope";
    src: url("../public/fonts/AnnieUseYourTelescope-Regular.ttf");
  }

  @font-face {
    font-family: "cherry";
    src: url("../public/fonts/CherryBombOne-Regular.ttf");
  }

  @layer base {
    html {
      font-family: telescope, serif;
      background-image: url(./assets/images/background-acceskids.png);
      background-repeat: no-repeat;

      opacity: 95%;

      background-size: cover;
      min-height: 100%;
      min-width: 100vw;
    }
    h1, h2 {
      font-family: cherry, serif;
    }

  }